<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="main-main">

    <form action="/">
        <div class="input-box">
            <label for=""></label>
            <input type="text">
        </div>


    </form>

</main>

<%- include('../partials/footer') %>