<% for (i = 0 ; i < relevantList.length ; i++) { %>
    <section class="product-product">
        <div class="product-picture">
            <img src="<%= relevantList[i].img %>">
        </div>
        <article class="product-article">
            <div class="delivery-truck">
                <i class="fas fa-truck"></i>
            </div>
            <div class="price">
                <div class="full-price">
                    <h3><%= relevantList[i].price %></h3>
                </div>
                <div class="discount">
                    <% if (relevantList[i].discount != null) { %>
                    <h4><%= relevantList[i].discount %> OFF</h4>
                    <% } %>
                </div>
            </div>
            <footer class="product-name">
                <h4><%= relevantList[i].name %></h4>
            </footer>
        </article>
    </section>
    <% } %>