<%- include('./partials/head') %>

<body>

<%- include('./partials/header') %>

<main class="main-main">

    <header class="main-title">
        <h2>Basado en tu última visita</h2>
    </header>
    
    <section class="product-category">
        <section class="product-product">
            <div class="product-picture">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
            </div>
            <article class="product-article">
                <div class="delivery-truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="price">
                    <div class="full-price">
                        <h3>$6.770</h3>
                    </div>
                    <div class="discount">
                        <h4>40% OFF</h4>
                    </div>
                </div>
                <footer class="product-name">
                    <h4>Cafetera Moulinex</h4>
                </footer>
            </article>
        </section>
                
        <section class="product-product">
            <div class="product-picture">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
            </div>
            <article class="product-article">
                <div class="delivery-truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="price">
                    <div class="full-price">
                        <h3>$230.000</h3>
                    </div>
                    <div class="discount">
                        <h4>20% OFF</h4>
                    </div>
                </div>
                <footer class="product-name">
                    <h4>MacBook Pro 2019</h4>
                </footer>
            </article>
        </section>
        
        <section class="product-product">
            <div class="product-picture">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
            </div>
            <article class="product-article">
                <div class="delivery-truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="price">
                    <div class="full-price">
                        <h3>$70.500</h3>
                    </div>
                    <div class="discount">
                        <h4>10% OFF</h4>
                    </div>
                </div>
                <footer class="product-name">
                    <h4>Samsung Galaxy S10</h4>
                </footer>
            </article>
        </section>
                    
        <section class="product-product">
            <div class="product-picture">
                <img src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
            </div>
            <article class="product-article">
                <div class="delivery-truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="price">
                    <div class="full-price">
                        <h3>$24.200</h3>
                    </div>
                    <div class="discount">
                        <h4>5% OFF</h4>
                    </div>
                </div>
                <footer class="product-name">
                    <h4>SmartTv Samsung 43"</h4>
                </footer>
            </article>
        </section>
    </section>
            
    <header class="main-title">
        <h2>Ofertas</h2>
    </header>
    
    <section class="product-category">
        <section class="product-product">
            <div class="product-picture">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
            </div>
            <article class="product-article">
                <div class="delivery-truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="price">
                    <div class="full-price">
                        <h3>$6.770</h3>
                    </div>
                    <div class="discount">
                        <h4>40% OFF</h4>
                    </div>
                </div>
                <footer class="product-name">
                    <h4>Cafetera Moulinex</h4>
                </footer>
            </article>
        </section>
    
        <section class="product-product">
            <div class="product-picture">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
            </div>
            <article class="product-article">
                <div class="delivery-truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="price">
                    <div class="full-price">
                        <h3>$230.000</h3>
                    </div>
                    <div class="discount">
                        <h4>20% OFF</h4>
                    </div>
                </div>
                <footer class="product-name">
                    <h4>MacBook Pro 2019</h4>
                </footer>
            </article>
        </section>
    
        <section class="product-product">
            <div class="product-picture">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
            </div>
            <article class="product-article">
                <div class="delivery-truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="price">
                    <div class="full-price">
                        <h3>$70.500</h3>
                    </div>
                    <div class="discount">
                        <h4>10% OFF</h4>
                    </div>
                </div>
                <footer class="product-name">
                    <h4>Samsung Galaxy S10</h4>
                </footer>
            </article>
        </section>
    
        <section class="product-product">
            <div class="product-picture">
                <img src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
            </div>
            <article class="product-article">
                <div class="delivery-truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="price">
                    <div class="full-price">
                        <h3>$24.200</h3>
                    </div>
                    <div class="discount">
                        <h4>5% OFF</h4>
                    </div>
                </div>
                <footer class="product-name">
                    <h4>SmartTv Samsung 43"</h4>
                </footer>
            </article>
        </section>
    </section>
</main>

<%- include('./partials/footer') %>

</body>
</html>