<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <script src="https://kit.fontawesome.com/47a442944c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header class="main-header">

    <header class="header-header">

        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="logo">
        </div>

        <div class="search-bar"> 
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>
        </div>

        <div class="welcome-text">
            <p><i class="fas fa-hand-holding-usd titular"></i>Compra en cuotas y sin tarjeta de crédito<p>
        </div>

    </header>

    <div class="main-navbar">
        <nav class="store-navbar">
            <ul>
                <li><a href="#" target="_blank">Ofertas</a></li>
                <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
                <li><a href="#" target="_blank">Vender</a></li>
                <li><a href="#" target="_blank">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="user-navbar">
            <ul>
                <li><a href="/registro">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="#" target="_blank">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#" target="_blank">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>  
    </div>
        
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>

    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner">
    </div>
        
</header>

<main class="main-main">
    
    <form>

        <div class="register-box">
            <label class="register-label" for="nombreApellido">Nombre y apellido</label>
            <input class="register-input" type="text" name="nombreApellido" id="nombreApellido">
        </div>

        <div class="register-box">
            <label class="register-label" for="user">Nombre de usuario</label>
            <input class="register-input" type="text" name="user" id="user">
        </div>

        <div class="register-box">
            <label class="register-label" for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="date" name="fechaNacimiento" id="fechaNacimiento">
        </div>

        <div class="register-box">
            <label class="register-label" for="domicilio">Domicilio</label>
            <input class="register-input" type="text" name="domicilio" id="domicilio">
        </div>

        <div class="register-box">
            <label class="register-label">Perfil de usuario</label>
            <label for="comprador"><input type="radio" name="perfil" id="comprador" value="comprador">Comprador</label>
            <label for="vendedor"><input type="radio" name="perfil" id="vendedor" value="vendedor">Vendedor</label>
        </div>
        
        <div class="register-box">
            <label class="register-label">Interesado en</label>
            <input type="checkbox" name="interes" id="electro" value="electro">Electro<label for="electro">Electro</label>
            <input type="checkbox" name="interes" id="moda" value="moda"><label for="moda">Moda</label>
            <input type="checkbox" name="interes" id="hogar" value="hogar"><label for="hogar">Hogar</label>
            <input type="checkbox" name="interes" id="jugueteria" value="jugueteria"><label for="jugueteria">Juguetería</label>
            <input type="checkbox" name="interes" id="vidaSana" value="vidaSana"><label for="vidaSana">Vida sana</label>
        </div>

        <div class="register-box">
            <label class="register-label" for="fotoPerfil">Foto de perfil</label>
            <input class="register-input" type="file" name="fotoPerfil" id="fotoPerfil">
        </div>

        <div class="register-box">
            <label class="register-label" for="password1">Contraseña</label>
            <input class="register-input" type="password" name="password1" id="password1">
        </div>

        <div class="register-box">
            <label class="register-label" for="password2">Confirmar contraseña</label>
            <input class="register-input" type="password" name="password2" id="password2">
        </div>

        <div class="register-box">
            <button class="reg-button" type="submit">Enviar</button>
            <button class="reg-button" type="reset">Borrar</button>
        </div>
        
    </form>

</main>

<footer class="footer-footer">
            
    <section class="footer-section">
        <div class="footer-icon">
            <i class="fas fa-credit-card"></i>
        </div>
        <header class="footer-title">
            <h4>Pagá con tarjeta o en efectivo</h4>
        </header>
        <main class="footer-main">
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </main>
    </section>
        
    <section class="footer-section">
        <div class="footer-icon">
            <i class="fas fa-gift"></i>
        </div>
        <header class="footer-title">
            <h4>Envío gratis desde $2.500</h4>
        </header>
        <main class="footer-main">
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </main>
    </section>
        
    <section class="footer-section">
        <div class="footer-icon">
            <i class="fas fa-user-shield"></i>
        </div>
        <header class="footer-title">
            <h4>Seguridad, de principio a fin</h4>
        </header>
        <main class="footer-main">
            <p>¿No te gustsa? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </main>
    </section>
        
    <footer class="copyright">
        <p>Copyright © 1990-2020 MercadoLiebre S.R.L.</p>
    </footer>
    
</footer>

</body>
</html>