* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/**/
/* REGLAS GENERALES */
/**/


body {
    color: #03264C;
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

p {
    font-size: 12px;
    line-height: 19px;
}

/* Estilos de link */
a {
    font-size: 12px;
    line-height: 19px;
}

a:link {
    text-decoration: none;
    color: #03264C;
}

a:hover {
    text-decoration: underline;
}

a:visited{
    color: #03264C;
    text-decoration: none;
}


/**/
/* HEADER */
/**/


.main-header {
    width: 100%;
    margin: auto;
    background-color: #EAC926;
}

.header-header {
    padding-top: 30px;
    padding-bottom: 15px;
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 33%;
    flex-grow: 0;
}

.search-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 66%;
    flex-grow: 3;
    margin: auto;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 80%);
}

.search-bar input {
    background-color: #FFF;
    padding: 8px 0;
    width: 90%;
    border: none;
}

.search-bar button {
    background-color: #FFF;
    color: #666;
    width: 10%;
    border: none;
    border-left: solid 1px #666;
}

/* "compra en cuotas y sin tarjeta de crédito" */
.welcome-text {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    align-self: center;
}

/* navbar */
.main-navbar {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 8px;
}

/* el menú hamburguesa */
.burger-menu {
    text-align: center;
    padding: 10px;
}

.burger-menu i {
    color: #ebebeb;
    background-color: #1259c3;
    background-position: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
}

.banner {
    margin-top: 10px;
    padding: 0;
}

.banner img {
    display: block;
}


/**/
/* MAIN */
/**/


.main-main {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}

.main-title {
    color: #666;
    text-align: left;
    width: 90%;
    padding: 20px 0;
    margin: 20px 0;
}

.product-category {
    display: flex;
    flex-wrap: wrap;
}

.product-product {
    margin: 10px 0;
    width: 100%;
}

.product-picture img {
    display: block;
}

.product-article {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    background-color: #FFF;
}

.delivery-truck {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}   

.price {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.full-price {
    width: 35%;
}

.discount {
    color: #39b54a;
    width: 65%;
}

.product-name {
    display: none;
}


/**/
/* FOOTER */
/**/


.footer-footer {
    background-color: #ebebeb;
    color: #666;
}

.footer-icon {
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-title {
    text-align: center;
    padding: 5px;
}

.footer-main {
    text-align: center;
    padding: 5px;
    margin: 0 40px;
}

.copyright {
    margin: 0 10px;
    margin-top: 30px;
    padding: 5px;
}


/**/
/* FORMULARIO DE REGISTRO */
/**/


/**/
/* márgenes para las cajitas */
.register-text-box, .register-radio-box, .register-check-box, .register-date-box, .register-file-box {
    margin: 20px 10px;
}


/**/
/* cajitas div para cada input type="" bien distinto */
.register-text-box {
    text-align: center;
}

/* .register-radio-box {

} */

.register-check-box {
    display: flex;
    flex-flow: column wrap;
}

/* .register-date-box

} */

/* .register-file-box {

} */


/**/
/* etiqueta pre input */
.register-label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}


/**/
/* reglas para dada input type="" */
.input-text {
    width: 100%;
}

/* .input-date {

} */

/* .input-radio {

} */

/* .input-checkbox {

} */

/* .input-file {

} */

.input-password {
    width: 100%;
}


/**/
/* botones */
.button-box {
    margin: 20px 10px;
}

/* .register-button {

} */


/**/
/* MEDIA QUERY */
/**/


/* Para navegar en tablets */
@media (min-width: 576px) {
    .header-header {
        flex-wrap: nowrap;
    }
    
    .logo, .search-bar, .welcome-text {
        width: 33%;
    }

    .logo {
        max-width: 200px;
    }

    .search-bar, .welcome-text {
        max-width: 400px;
    }

    .search-bar {
        margin: 0 15px;
    }

    .welcome-text {
        margin: 0;
    }    

    .product-picture{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    
    .main-navbar {
        display: flex;
    }

    .product-name {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .product-product {
        width: 50%;
    }

}

/* Para navegar en desktop */
@media (min-width: 768px) {
    .product-product {
        width: 33%;
    }
}

/* Para limitar pantallas mayores */
@media (min-width: 992px) {
    .main-header, .main-main {
        max-width: 992px;
    }

    .product-product {
        width: 25%;
    }
}