* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/**/
/* REGLAS GENERALES */
/**/


body {
    color: #03264C;
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%
}

p {
    font-size: 12px;
    line-height: 19px;
}

/* Estilos de link */
a {
    font-size: 12px;
    line-height: 19px;
}

a:link {
    text-decoration: none;
    color: #03264C;
}

a:hover {
    text-decoration: underline;
}

a:visited{
    color: #03264C;
    text-decoration: none;
}


/**/
/* HEADER */
/**/


.main-header {
    width: 100%;
    margin: auto;
    background-color: #EAC926;
}

.logo {
    max-width: 620px;
    margin: auto;
}

/* .search-bar {

} */

/* "compra en cuotas y sin tarjeta de crédito" */
.welcome-text {
    text-align: center;
}   

.main-navbar, .user-navbar {
    display: none;
    margin: 0 10px;
}

.main-navbar ul, .user-navbar ul {
    list-style-type: none;
    padding: 5px;
}

/* el menú hamburguesa */
.burger-menu {
    text-align: center;
    padding: 10px;
}

.burger-menu i {
    color: #ebebeb;
    background-color: #1259c3;
    background-position: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
}

.banner {
    margin-top: 10px;
    padding: 0;
}

.banner img {
    display: block;
}


/**/
/* MAIN */
/**/


.main-main {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}

.main-title {
    color: #666;
    text-align: left;
    width: 90%;
    padding: 20px 0;
}

.product-product {
    /* width: 90%;
    margin: auto; */
    background-color: #ebebeb;
    border-top: 1px solid #ebebeb;
}

.product-picture img {
    display: block;
}


/* main section article {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: #ebebeb;
} */

.product-name {
    display: none;
}

.delivery-truck {
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    width: 38px;
    font-size: 14px;
    padding: 10px;
}


.ultimo-producto {
    padding-bottom: 40px;
}



/* .price {
    font-size: 18px;
    line-height: 25px;
} */

.discount {
    color: #39b54a;
}



/**/
/* FOOTER */
/**/


.footer-footer {
    background-color: #ebebeb;
    color: #666;
}

.footer-section {

}

.footer-icon {
    color: #1259c3;
    text-align: center;

}

.footer-title {
    text-align: center;
}

.footer-main {
    text-align: center;
    margin: auto;
}    

.copyrights {

}







/**/
/* FORMULARIO DE REGISTRO */
/**/

.cajita-registro {
    padding: 10px;
    margin: 10px;
}

.etiqueta-registro {
    display: block;
    margin-bottom: 5px;
}

.reg-button {
    color: aquamarine;
}





/**/
/* MEDIA QUERY */
/**/


/* Para navegar en tablets */
@media (min-width: 576px) {
    .product-picture{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }

    .main-navbar, .user-navbar, .product-description {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}

/* Para navegar en desktop */
@media (min-width: 768px) {
    .product-picture {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }

    .main-navbar, .user-navbar, .product-description {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}

/* Para limitar pantallas mayores */
@media (min-width: 1200px) {
    .main-header, .main-main {
        max-width: 1200px;
        margin: auto;
    }
}