<%- include('./partials/head') %>

<body>

<%- include('./partials/header') %>

<main class="main-main">

    <header class="main-title">
        <h2>Basado en tu última visita</h2>
    </header>
    
    <section class="product-category">

    </section>
            
    <header class="main-title">
        <h2>Ofertas</h2>
    </header>
    
    <section class="product-category">
            
    </section>

</main>

<%- include('./partials/footer') %>