<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main class="main-main">
    <% if (searchResults.length > 0) { %>
        <header class="main-title">
            <h2>Resultados</h2>
        </header>
        <section class="product-category">
            <% for (i = 0 ; i < searchResults.length ; i++) { %>
                <%- include ('./products/partials/product', { article:searchResults }) %>
            <% } %>
        </section>
    <% } else { %>
        <header class="main-title">
            <h2>No se encontraron coincidencias</h2>
        </header>
    <% } %>
    </main>
<%- include('./partials/footer') %>